#nav-bar {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
}

#right-side-header {
    display: flex;
    margin-left: 30px;
    align-items: center;
    
}
#middle-side-header {
    flex: 1;
    align-items: center;
    display: flex;
    max-width: 750px;
    margin-left: 180px;
    margin-right: 180px;
}
#left-side-header {
    display: flex;
    margin-right: 20px;
    align-items: center;
    width: 180px;
}

#youtube-icon {
    width: 80px;
    height: 50px;
} 

#menu{
    width: 25px;
    padding-right: 15px;
}

#search-bar {
    height: 34px;
    /* width:; */
    flex: 1;
    font-family: Roboto, Arial;
    border: 2px;
    border-style: solid;
    border-color: rgb(220, 218, 218);
    border-radius: 2px;
    width: 550px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

#search-bar::placeholder {
    font-family: Roboto;
    font-size: 16px;
    padding: 10px;
}

#search-button  {
    border: 1px;
    border-style: solid;
    height: 39px;
    width: 65px;
    border-color: rgb(220, 218, 218);
    margin: -1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
#search-icon {
    width: 25px;
}
#video-player {
    width: 25px;
    padding-right: 25px;
}
#bell {
    width: 25px;
    padding-right: 25px;
}
#microphone{
    height: 25px;
    width: 25px;
    
}
#microphone-button{
    margin-left: 15px;
    border-radius: 25px;
    width: 35px;
    border: 1px;
    border-color:  rgb(220, 218, 218);
}
#channel-profile {
    width: 30px;
    border-radius: 50%
}
#search {
    width: 30px;
}